<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-in admin</title>
    {% load staticfiles %}
    <style>
        form{
            width:200px;
            background-color:none;
        }
        form button{
            margin-left:700px;
        }
        input{
            width:300px;
            height:30px;
        }
    </style>
</head>
{% include 'admm/header.html' %}
<article style="margin:0px;">
    <h1 style="margin:0px;margin-top:50px;">Reset Password</h1>
    <form action="{% url 'admm:newpwd' %}" method="post" enctype="multipart/form-data" style="margin-left:520px;margin-top:20px;">
        {% csrf_token %}
        <label>Email</label><br>
        <input type="email" name="email" required><br>
        <label>Security Question</label><br>
        <input type="text" name="secque" required><br>
        <label>Answer</label><br>
        <input type="text" name="secans" required>
        <br><br>
        <input type="submit" style="width:300px;" value="Send Code">
            <input type="number" name="isFromFrgtPage" value=1 hidden>
        <br><br>
        <div style="margin-left:100px;width:300px;color:red;font-size:20px;">
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    </form>
</article>
</html>