<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User roles</title>
    <style>
        table td{
            border:0px; solid black;
        }
        .cat_Name,.scat_Name,.commission{
            border:None;
            outline:none;
            height:25px;
        }
        h3{
            color:green;
        }
        #categoriesTitles td{
            border:1px solid black;
        }
    </style>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'admm/fontawesome-free-5.12.0-web/css/all.css' %}">
    <!--<link href="{% static 'admm/css/bootstrap.min.css' %}" type='text/css' rel="stylesheet" />-->
    <link href="{% static 'admm/mycss/index.css' %}?{% now 'U' %}" type='text/css' rel="stylesheet" />
    <script src="{% static 'admm/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'admm/adminJquery.js' %}" rel="script"></script>
    <script>
        $(document).ready(function(){
            $('.cat_Name,.scat_Name,.commission').dblclick(function(){
                $(this).css('border','1px solid black');
                $(this).prop('readonly',false);
            });;
            $('.cat_Name').change(function(){
                var tmp=$(this).next('a').attr('href');
                $(this).next('a').attr('href',tmp+$(this).val());
                $(this).next('a')[0].click();
            });
            $('.selectCat').change(function(){
                window.location.replace('/adminsite/categories/'+$(this).val());
            })
            $('.scat_Name,.commission').change(function(){
                $(this).next('button').click();
            });
            $('#catNewLink').click(function(){
                $('#catNew').slideToggle();
            });
        });
    </script>
</head>
{% include 'admm/header.html' %}
{% include 'admm/leftSideBar.html' %}
<article>
    <!--<table class="titles" cellspacing="0" style="width:100%;">-->

        <h3>Categories</h3>
        <a id="catNewLink">Add New</a>
        <form id="catNew" action="" method="post" hidden>
            {% csrf_token %}
            {{cat_form.as_table}}
            <button type="submit">Insert</button>
        </form>
        <table id="categoriesTitles">
            <tr>
                <th></th>
                <!--<th>Categories</th>-->
            </tr>
            <tr>
            {% for object in objects%}
                <td hidden><input type="radio" name="selection" class="selectCat" value="{{object.id}}"></td>
                <td>{{object}}</td>
                <td hidden><a href="/adminsite/categories/del/{{object.id}}"><i class="fas fa-trash" aria-hidden="true"></i></a></td>
                <!--id="docName{{object.docid}}"-->
                <td ><input class="cat_Name" value="{{object.categoryname}}"  name="cat_Name{{object.id}}" readonly/><a hidden href="/adminsite/categories/edit/{{object.id}}/">d</a> </td>
            {% endfor %}
        </tr>
        </table>

        <br>
        <br>
        <h3>Subcategories</h3>
        <table>
            <tr>
                <td>
                    <form>
                        <table>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </table>
                    </form>
                </td>
                <!--<th>Subcategory</th>-->
            </tr>
            <tr>
                <td>
                    {% for object in subobjects%}
                        <form action="/adminsite/subcategories/edit/{{object.id}}/" method="post">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td><a href="/adminsite/subcategories/del/{{object.id}}"><i class="fas fa-trash" aria-hidden="true"></i></a></td>
                                    <td ><input class="scat_Name" value="{{object.subcatname}}"  name="scat_Name{{object.id}}" readonly/><button type="submit" hidden>d</button> </td>
                                    <td><span style="font-weight:bold;">Commission:</span> <input class="commission" value="{{object.commission}}"  name="cmsn{{object.id}}" readonly><button type="submit" hidden>d</button></td>
                                </tr>
                            </table>
                        </form>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <br>
        <form action="/adminsite/subcategories/{{cid}}/" method="post" hidden>
            {% csrf_token %}
            {{subcat_form.as_table}}
            <button type="submit">Insert</button>
        </form>
</article>
</html>