<script src="https://kit.fontawesome.com/dc25b2d00b.js"></script>
<script>
    function saveData(){
         
    }
</script>
<table>
    <tr>
        <td><i class="fas fa-plus"></i></td>
    </tr>
    <tr>
        <td>Id<br/><input type="text" id="input1"/></td>
        <td>Registraion Number<br/><input type="text" id="input2"/></td>
    </tr>
    <tr>
        <td>Height<br/><input type="number" id="input3"/></td>
        <td>width<br/><input type="number" id="input4"/></td>
    </tr>
    <tr>
            <td>Location<br/><input type="text" id="input5"/></td>
        </tr>
        <tr>
                <td>Area<br/><input list="areas" id="input6"/>
                    <datalist id="areas">
                        <option value="a">
                    </datalist>
                <td>City<br/><input list="cities" id="input7"/>
                    <datalist id="cities">
                            <option value="hey">
                    </datalist>
                </td>
                <td>State<br/><input list="states" id="input8"/>
                    <datalist id="states">
                        <option value="hey">
                    </datalist>
                </td>
        </tr>
        <tr>
                <td>Category<br/><input list="Categories" id="input9"/>
                    <datalist id="Categories">
                            <option value="hey">
                    </datalist>
                </td>
                <td>Subcategory<br/><input list="subCats" id="input10"/>
                    <datalist id="subCats">
                            <option value="hey">
                    </datalist>
                </td>
            </tr>
        <tr>
            <td>Stock<br/><input type="number" id="input11"/></td>
        </tr>
</table>