{% load staticfiles %}
    <script src="{% static 'admm/leftSideBar.js' %}" rel="script"></script>
    <link href="{% static 'admm/mycss/leftSideBar.css' %}?{% now 'U' %}" type='text/css' rel="stylesheet" />
<div class="leftSideBar">

        <table class='leftSideBarMenuNdBtn' >
            <tr>
                <td class='leftSideBarMenu' style="text-align:center;font-family:Novecento sans;"><h4 style="font-weight:bold;font-family:Comic Sans;">QUICK LINKS </h4></td>
                <!--<td class="leftSideBarBtn"><span><i class="fas fa-bars"></i></span> </td>-->
            </tr>
        </table>

        <table class='menuOptions'>
            <tr>
                <td><a style="text-decoration:none;color:none;" href="{% url 'admm:index' %}"><span>Dashboard> <ul style="margin:0px;list-style-type:none;"><li><a href="{% url 'admm:list_orders' %}">Orders</a></li><li><a href="{% url 'admm:listadv' %}">Advertisements</a></li><li><a href="{% url 'admm:packOrOffr_list' 'package' %}">Packages</a></li><li><a href="{% url 'admm:packOrOffr_list' 'offer' %}">Offers</a></li><li><a href="{% url 'admm:couponsListOrAdd' %}">Coupons</a></li><li><a href="{% url 'admm:categorycreateorview' %}">Categories</a></li></ul></span></a><!--<i class="fas fa-chart-line"></i>--></td>
            </tr>
            {% if user.is_staff %}
            <tr>
                <td><a style="text-decoration:none;color:none;" href="{% url 'admm:cmishn' %}"><span>Commissions</span></a><!--<i class="fas fa-chart-line"></i>--></td>
            </tr>
            <tr>
                <td><a style="text-decoration:none;color:none;" href="{% url 'admm:branch_viewadd' %}"><span>Branches</span></a></td>
            </tr>
            <tr>
                <td><a style="text-decoration:none;color:none;" href="{% url 'admm:usersList' %}"><span>Users</span></a></td>
            </tr>
            <tr>
                <td><a style="text-decoration:none;color:none;" href="{% url 'admm:fdbckCmplntList' 'feedbacks' %}"><span>Feedback</span></a></td>
            </tr>
            <tr>
                <td><a style="text-decoration:none;color:none;" href="{% url 'admm:fdbckCmplntList' 'complaints' %}"><span>Complaints</span></a></td>
            </tr>
            {% endif %}
            <tr>
                <td><span>Reports></span> <ul style="margin:0px;list-style-type:none;"><li><a href="{% url 'admm:rprt' %}">Highest blah</a></li><li>Highest blah</li><li>Highest blah</li><li>Highest blah</li></ul><!--<i class="fas fa-chart-line"></i>--></td>
            </tr>
            <tr>
                <td><span>Charts></span><ul style="list-style-type:none;margin:0px;"><li>Analyze</li><li>Analyze</li><li>Analyze</li><li>Analyze</li></ul></td>
            </tr>
            <tr>
                <!--<td><span>Edit in website</span><ul style="list-style-type:none;" hidden><li>About us</li><li>Company Logo</li><li>Follow us</li><li>Contact Us</li><li>Follow Us</li><li>FAQs</li></ul></td>-->
            </tr>
        </table>
    </div>