<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tables here</title>

    <!--{% load staticfiles %}-->
    <script src="{% static 'admm/jquery-3.3.1.min.js' %}"></script>
    <!--<script src="{% static 'admm/adminJquery.js' %}"></script>-->
    <script>

    </script>
</head>
<body>

        <!--<tr>-->
            <!--&lt;!&ndash;{{Gd}}&ndash;&gt;-->
            <!--&lt;!&ndash;{% for mdlName in mdlList %}&ndash;&gt;-->
                <!--&lt;!&ndash;<td>{{mdlName}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
            <!--<td><a href="">Advertisement</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Advimgs</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Area</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> AuthUser</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Branch</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Cancellationofordadv</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Cartdetail</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Category</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> City</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Commissiondetail</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Company</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Complaintdetail</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Country</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Coupondetail</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Durationwisepricing</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Offercoveringadvs</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Offerdetail</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Order</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Orderfeedback</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Orderpayment</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Orderdetails</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Package</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">PackageHasAdv</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Sellerdocdetail</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href=""> Sellerdoclist</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">State</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Subcategory</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Updationinorder</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Userrole</a> </td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><a href="">Wishlistdetail</a> </td>-->
        <!--</tr>-->
</body>
</html>