<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User detail</title>
    {% load staticfiles %}
    <link href="{% static 'admm/mycss/universal.css' %}?{% now 'U' %}" type='text/css' rel="stylesheet" />
    <script src="{% static 'admm/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admm/fontawesome-free-5.12.0-web/css/all.css' %}">
    <style>
        .usrDtlTbl th{
            text-align:left;
        }
        .usrDtlTbl{
            width:40%;
            height:400px;
        }
        h3{
            text-align:center;
            color:green;
        }
    </style>
</head>
{% include 'admm/header.html' %}
{% include 'admm/leftSideBar.html' %}
<article>
    <h3>User Detail</h3>
    <table class="usrDtlTbl">
        <tr>
            <th>Name</th>
            <td>{{object}}</td>
        </tr>
        <tr>
            <th>Mobile No.</th>
            <td>{{object.mobileno}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{object.email}}</td>
        </tr>
        <tr>
            <th>Is Admin</th>
            <td>{% if object.is_staff == 1 %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{object.addressline1}}</td>
        </tr>
        <tr>
            <th>Area</th>
            <td>{{object.areaid}}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{object.areaid.city_cityid}}</td>
        </tr>
        <tr>
            <th>Branch</th>
            <td>{{object.branchid}}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{object.userroleid}}</td>
        </tr>
        <tr>
            <th>Locked/Unlocked</th>
            <td style="color:darkred;">
                {% if object.is_active %}
                        <a  href="{% url 'admm:lockUnlockUser' object.id 0 %}"><i class="fa fa-unlock"></i></a>
                    {% else %}
                        <a  href="{% url 'admm:lockUnlockUser' object.id 0 %}"><i class="fa fa-lock"></i></a>
                    {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date of Joining</th>
            <td>{{object.date_joined}}</td>
        </tr>
        <tr>
            <th>Last logged in time</th>
            <td>{{object.last_login}}</td>
        </tr>
    </table>
</article>
</html>